
.container{
    display: flex;
    background-color: rgb(200, 170, 110);
    border-radius: 6px;
    width: 75%;
    height: 30px;
    align-items: center;
    justify-content: center;
    margin: auto;
    cursor: pointer;
    border: none;
}

.container:hover{
    opacity: 0.9;
}

.container span{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

