.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
    border-bottom: 1px solid rgb(200, 170, 110);
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.ul{
  display: flex;
  gap: 16;
  text-decoration: none;
  list-style: none;
}
